NEXT_PUBLIC_SUPABASE_URL=https://ogwwwzpykluimcetlwgg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9nd3d3enB5a2x1aW1jZXRsd2dnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3MDU4MDgsImV4cCI6MjA5MDI4MTgwOH0.Nc10LFakb8DSZPDnTftS9B9kt9XxMFIvWX0y_n-eJIU
